function Fibonacci 1
	push argument 0
	push constant 3
	lt
	if-goto BASE
	
	push argument 0
	push constant 2
	sub
	call fibonacci.Fibonacci 1	
	push argument 0
	push constant 1
	sub
	call fibonacci.Fibonacci 1
	add
	return
	
	label BASE
	push constant 1
	return